@import url("https://fonts.cdnfonts.com/css/neutraface-text");
@import url("https://fonts.cdnfonts.com/css/architects-daughter");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #bfd455;
$primary-text: #383838;
$secondary-text: #929191;
$white: #fff;

body {
  color: $primary-text;
  background-color: $white;
  line-height: 1.3;
  font-family: "Neutraface Text", sans-serif;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.1;
    z-index: -1;
    background-image: url("./img/main.png");
    // background-image: url('./img/main.webp');
    background-repeat: repeat-y;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
  }
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 12px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: unset;
  color: unset;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1360px !important;
  }
}

.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.align-center {
  align-items: center;
}
.align-left {
  align-items: flex-end;
}
.align-start {
  align-items: flex-start;
}
.flex-column {
  flex-direction: column;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.gap-50 {
  gap: 50px;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-grid {
  display: grid;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.fs-10 {
  font-size: 10px;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-30 {
  font-size: 30px;
}
.fs-36 {
  font-size: 36px;
}
.fs-48 {
  font-size: 48px;
}

.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}

.br-4 {
  border-radius: 4px;
}
.br-8 {
  border-radius: 8px;
}

.m-0 {
  margin: 0px;
}
.mr-1 {
  margin-right: 4px;
}
.mr-2 {
  margin-right: 8px;
}
.mr-3 {
  margin-right: 12px;
}
.mr-4 {
  margin-right: 16px;
}
.mr-5 {
  margin-right: 20px;
}
.mr-6 {
  margin-right: 24px;
}
.mr-7 {
  margin-right: 28px;
}
.mr-8 {
  margin-right: 32px;
}

.p-0 {
  padding: 0px;
}
.p-1 {
  padding: 4px;
}
.p-2 {
  padding: 8px;
}
.p-3 {
  padding: 12px;
}
.p-4 {
  padding: 16px;
}
.p-5 {
  padding: 20px;
}
.p-6 {
  padding: 24px;
}
.p-7 {
  padding: 28px;
}
.p-8 {
  padding: 32px;
}

.gap-1 {
  gap: 4px;
}
.gap-2 {
  gap: 8px;
}
.gap-3 {
  gap: 12px;
}
.gap-4 {
  gap: 16px;
}
.gap-5 {
  gap: 20px;
}
.gap-6 {
  gap: 24px;
}
.gap-7 {
  gap: 28px;
}
.gap-8 {
  gap: 32px;
}

// RESPONSIVE
@media (max-width: 768px) {
  .d-flex-sm {
    display: flex;
  }
  .justify-center-sm {
    justify-content: center;
  }
  .justify-start-sm {
    justify-content: flex-start;
  }
  .justify-end-sm {
    justify-content: flex-end;
  }
  .justify-between-sm {
    justify-content: space-between;
  }
  .justify-evenly-sm {
    justify-content: space-evenly;
  }
  .align-center-sm {
    align-items: center;
  }
  .align-left-sm {
    align-items: flex-end;
  }
  .align-start-sm {
    align-items: flex-start;
  }
  .flex-column-sm {
    flex-direction: column;
  }
  .gap-10-sm {
    gap: 10px;
  }
  .gap-20-sm {
    gap: 20px;
  }
  .gap-30-sm {
    gap: 30px;
  }
  .gap-50-sm {
    gap: 50px;
  }
  .d-none-sm {
    display: none;
  }
  .d-block-sm {
    display: block;
  }
  .d-grid-sm {
    display: grid;
  }
  .relative-sm {
    position: relative;
  }
  .absolute-sm {
    position: absolute;
  }

  .fs-10-sm {
    font-size: 10px;
  }
  .fs-12-sm {
    font-size: 12px;
  }
  .fs-14-sm {
    font-size: 14px;
  }
  .fs-16-sm {
    font-size: 16px;
  }
  .fs-18-sm {
    font-size: 18px;
  }
  .fs-20-sm {
    font-size: 20px;
  }
  .fs-24-sm {
    font-size: 24px;
  }
  .fs-30-sm {
    font-size: 30px;
  }
  .fs-36-sm {
    font-size: 36px;
  }
  .fs-48-sm {
    font-size: 48px;
  }

  .fw-400-sm {
    font-weight: 400;
  }
  .fw-500-sm {
    font-weight: 500;
  }
  .fw-600-sm {
    font-weight: 600;
  }
  .fw-700-sm {
    font-weight: 700;
  }

  .br-4-sm {
    border-radius: 4px;
  }
  .br-8-sm {
    border-radius: 8px;
  }

  .m-0-sm {
    margin: 0px;
  }
  .mr-1-sm {
    margin-right: 4px;
  }
  .mr-2-sm {
    margin-right: 8px;
  }
  .mr-3-sm {
    margin-right: 12px;
  }
  .mr-4-sm {
    margin-right: 16px;
  }
  .mr-5-sm {
    margin-right: 20px;
  }
  .mr-6-sm {
    margin-right: 24px;
  }
  .mr-7-sm {
    margin-right: 28px;
  }
  .mr-8-sm {
    margin-right: 32px;
  }

  .p-0-sm {
    padding: 0px;
  }
  .p-1-sm {
    padding: 4px;
  }
  .p-2-sm {
    padding: 8px;
  }
  .p-3-sm {
    padding: 12px;
  }
  .p-4-sm {
    padding: 16px;
  }
  .p-5-sm {
    padding: 20px;
  }
  .p-6-sm {
    padding: 24px;
  }
  .p-7-sm {
    padding: 28px;
  }
  .p-8-sm {
    padding: 32px;
  }

  .gap-1-sm {
    gap: 4px;
  }
  .gap-2-sm {
    gap: 8px;
  }
  .gap-3-sm {
    gap: 12px;
  }
  .gap-4-sm {
    gap: 16px;
  }
  .gap-5-sm {
    gap: 20px;
  }
  .gap-6-sm {
    gap: 24px;
  }
  .gap-7-sm {
    gap: 28px;
  }
  .gap-8-sm {
    gap: 32px;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(2deg);
  }
}

@keyframes top-down {
  0% {
    transform: translateY(-3%);
    z-index: 100;
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    z-index: 102;
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slider-btn-left {
  0% {
    opacity: 0;
    left: 30px;
  }

  25% {
    opacity: 0.25;
    left: 25px;
  }

  50% {
    opacity: 0.55;
    left: 20px;
  }

  75% {
    opacity: 0.25;
    left: 15px;
  }

  100% {
    opacity: 0;
    left: 10px;
  }
}

@keyframes slider-btn-right {
  0% {
    opacity: 0;
    right: 30px;
  }

  25% {
    opacity: 0.25;
    right: 25px;
  }

  50% {
    opacity: 0.55;
    right: 20px;
  }

  75% {
    opacity: 0.25;
    right: 15px;
  }

  100% {
    opacity: 0;
    right: 10px;
  }
}

header {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  z-index: 9999;
  .inner-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
  }
  .left img {
    width: 285px;
    height: auto;
  }
  .right {
    .inner-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row-reverse;
      .menu {
        padding: 10px;
        /* background: #fff; */
        border-radius: 0 10px 10px 0;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: flex-end;
        padding-right: 0;
        img {
          width: 30px;
          height: auto;
        }
      }
      .menu-options-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        color: #333;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        height: 60px;
        .menu-option a {
          padding: 10px;
          line-height: 1.2;
          font-size: 15px;
          &:hover {
          }
        }
      }
    }
  }
}

.hero-carousel {
  background-image: url("./img/hp-hero-carousel.webp");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .inner-div {
    position: relative;
    height: 100%;
    .content-absolute {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      max-width: 550px !important;
      position: absolute;
      bottom: 50px;
      right: 50px;
    }
  }
  .services-hero-menu {
    width: 100%;
    .services {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      border-radius: 4px;
      background: rgba(56, 56, 56, 0.3);
      backdrop-filter: blur(25px);
      padding: 13px 23px 13px 22px;
      .menu {
        &:nth-child(2) {
          padding: 0 15px;
          border-right: 2px solid #fff;
          border-left: 2px solid #fff;
        }
      }
      .menu a {
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 600;
        color: #fff;
        opacity: 0.5;
        &.active {
          opacity: 1;
        }
        &:hover {
        }
      }
    }
  }
  .hero-content {
    .hero-title {
      font-size: 36px;
      color: #fff;
      margin-bottom: 5px;
      font-weight: 400;
    }
    .hero-para {
      color: #fff;
      font-size: 20px;
      line-height: 1.2;
    }
  }
}

.welcome-text {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  h2 {
    color: #8e8e8e;
    text-align: center;
    font-family: "Architects Daughter";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    span {
      color: #8e8e8e;
      font-family: "Architects Daughter";
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: block;
    }
  }
}

.meet-team-wrapper {
  .inner-div {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      width: 50%;
      display: flex;
      border-right: 2px solid #bfd455;
      padding-right: 15px;
      justify-content: flex-start;
      flex-direction: column;
      gap: 70px;
      .top {
        .first {
          color: #383838;
          font-size: 24px;
          font-weight: 400;
          text-transform: capitalize;
        }
        .second {
          color: #929191;
          font-size: 16px;
          font-weight: 400;
          text-transform: capitalize;
        }
      }
      .bottom {
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
          color: #383838;
          font-size: 20px;
          font-weight: 400;
          text-transform: capitalize;
        }
      }
      .know-more-btn {
        display: flex;
        background: #1e1e1e;
        max-width: 220px;
        padding: 12px 61px;
        justify-content: center;
        align-items: center;
        a {
          color: #fff;
          font-size: 20px;
          font-weight: 400;
          text-transform: capitalize;
          white-space: nowrap;
        }
      }
    }
    .right {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      img {
        width: 524px;
      }
    }
  }
}

.visit-us-wrapper {
  .inner-div {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    .left {
      min-width: 210px;
      border-top: 2px solid #bfd455;
      padding-top: 20px;
      h3 {
        color: #383838;
        font-size: 24px;
        font-weight: 400;
      }
    }
    .right {
      border-top: 2px solid #bfd455;
      padding-top: 20px;
      .right-top {
        p {
          color: #636262;
          font-size: 20px;
          font-weight: 400;
          max-width: 630px;
          margin-bottom: 40px;
        }
      }
      .right-bottom {
        display: grid;
        grid-template-columns: 40% 60%;
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px;
        height: 100%;
        .bottom-left {
          max-width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          height: 100%;
          .visit-address {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;
            max-width: 300px;
            p {
              color: #636262;
              font-size: 20px;
              font-weight: 400;
              line-height: 21.6px;
            }
            a {
              color: #636262;

              font-size: 16px;
              font-weight: 400;
              line-height: 16.8px; /* 105% */
              text-decoration-line: underline;
              text-decoration-style: solid;
              text-decoration-skip-ink: auto;
              text-decoration-thickness: auto;
              text-underline-offset: auto;
              text-underline-position: from-font;
            }
          }
        }
      }
    }
  }
}

footer {
  .inner-div {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top {
    border-top: 1px solid #929191;
    padding-top: 13px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    justify-content: space-between;
    .left {
      .address {
        max-width: 301px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        p {
          color: #929191;
          font-size: 12.906px;
          font-weight: 400;
          line-height: 16.8px;
        }
      }
      .policy-options {
        display: none;
      }
    }
    .middle {
      display: flex;
      margin-top: 20px;
      flex-direction: column;
      gap: 20px;
      .newletter {
        display: none;
      }
      .newletter,
      .address-contact {
        p {
          color: #929191;
          font-size: 13.016px;
          font-weight: 400;
          line-height: 16.8px;
        }
      }

      .badges {
        p {
          color: #929191;
          font-size: 13.016px;
          font-weight: 400;
          line-height: 16.8px;
          margin-bottom: 5px;
        }
        .img img {
          width: 60px;
        }
        .img {
          display: flex;
          gap: 10px;
          align-items: center;
        }
      }
      a {
        &:hover {
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
      .social-media {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        a img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .bottom {
    border-top: 1px solid grey;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
    padding: 20px 0;
    // flex-direction: column;
    align-items: center;
    gap: 15px;
    p {
      color: #929191;
      font-size: 12.906px;
      font-weight: 400;
      line-height: 16.8px;
    }
    a {
      border-left: 2px solid lightgrey;
      padding-left: 15px;
      color: #929191;
      font-size: 12.906px;
      font-weight: 400;
      line-height: 16.8px;
      span {
      }
      &:hover {
      }
    }
  }
}

// TEAM HERO SECTION
.team-hero {
  .inner-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row !important;
    .left {
      width: 60%;
    }
    .left img {
      width: 100%;
    }
    .right {
      width: 40%;
      .content {
        h2 {
          color: #929191;
          font-size: 32px;
          font-style: normal;
          font-weight: 400;
        }
        p {
          text-align: end;
        }
      }
    }
  }
}

// OUR PEOPLE SECTION
.our-people {
  .inner-div {
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    gap: 0 !important;
    .left {
      color: #929191;
      font-size: 36px;
      font-weight: 400;
      text-transform: capitalize;
      width: 40%;
    }
    .right {
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      p {
        color: #1e1e1e;
        font-size: 20px;
        font-weight: 400;
        text-transform: capitalize;
        span {
          color: #bfd455;
        }
      }
    }
  }
}

// TEAM LIST SECTION
.team-page {
  .inner-div {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    gap: 100px;
    border-top: 1px solid #bfd455;
  }
  .individual-section:first-child {
    border: none;
    padding-top: 0;
  }
  .individual-section {
    padding: 100px 0 0px;
    // background: rgb(56 56 56 / 40%);
    // -webkit-backdrop-filter: blur(25px);
    // backdrop-filter: blur(25px);
    border-top: 1px solid #bfd455;

    > p {
      font-size: 36px;
      margin-bottom: 100px;
      // text-align: center;
      color: grey;
    }
    .team-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      flex-wrap: nowrap;
          display: grid
;
    grid-template-columns: 40% 20% 20% 20%;
    }
    .team-section {
          height: 300px;
      &:hover {
      }
      &:nth-child(even) .img-outer {
        background: #dae5a0;
      }
      &:nth-child(odd) .img-outer {
        background: #ddd9d9;
      }
      .img-outer {
        position: relative;
        width: 300px;
        height: 300px;
        background: transparent;
        background-color: transparent !important;
      }
      img {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 45%;
        transform: translate(-50%, 0);
      }
      .img-outer:first-child{
          width: 100%;
          
      }
      &:first-child h3{
            font-size: 32px;
          }
          &:first-child p{
font-size: 20px;
          }
      h3 {
        color: #bfd455;
        font-size: 24px;
        font-weight: 400;
        text-transform: capitalize;
        margin: 0;
        text-align: center;
      }
      p {
        color: #444444;
        font-size: 14px;
        font-weight: 400;
        text-transform: capitalize;
            text-align: center;
      }
    }
  }
}

// ABOUT HERO
.about-hero-wrapper {
  background-image: url("./img/about-hero.webp");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  .inner-div {
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      color: #ebebdf;
      text-align: center;
      font-size: 100px;
      font-weight: 400;
      text-transform: capitalize;
    }
    p {
      color: #fff;
      text-align: center;
      font-size: 40px;
      font-weight: 300;
    }
    a {
      color: #fff;
      font-size: 24px;
      font-weight: 400;
      margin-top: 30px;
      text-decoration: underline;
      &:hover {
      }
    }
  }
}

// STUDIO ETHOS
.studio-ethos {
  .inner-div {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h2 {
    font-family: "Neutraface Text";
    font-size: 36px;
    font-weight: 400;
    width: 40%;
    color: #929191;
  }
  p {
    color: #1e1e1e;
    font-size: 18px;
    font-weight: 400;
    width: 60%;
    border-left: 2px solid #bfd455;
    padding: 65px 65px 65px 20px;
    br {
    }
  }
}

// FOUNDER'S NOTE
.founders-note {
  .inner-div {
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: space-between;
    align-items: center;

    .left {
      border-right: 2px solid #bfd455;
      img {
        width: 100%;
        padding-right: 20px;
      }
      h3 {
        color: #1e1e1e;
        font-size: 36px;
        font-weight: 400;
      }
      p {
        color: #929191;
        font-size: 24px;
        font-weight: 400;
      }
    }
    .right {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding-left: 20px;
      h3 {
        color: grey;
        font-size: 36px;
        font-weight: 400;
        text-transform: capitalize;
      }
      p {
        margin-bottom: 75px;
        color: #1e1e1e;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
}

// VISIT SHOWROOM
.visit-our-showroom {
  .inner-div {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    > img {
      width: 100%;
    }
    .floating-section {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 500px;
      background-color: white;
      .inner-floating {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        img {
        }
        .content {
          padding: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 20px;
          h3 {
            font-size: 32px;
            font-weight: 300;
          }
          p {
            text-align: center;
            font-size: 14px;
          }
          a {
            border: 1px solid grey;
            padding: 10px 20px;
            border-radius: 50px;
            font-size: 14px;
            &:hover {
            }
          }
        }
      }
    }
  }
}

.category-wrapper {
  .inner-div {
    // padding-bottom: 100px;
    .hero-carousel {
    }

    .categories {
      .inner-div {
        .category {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          gap: 50px;
          padding-top: 100px;
          padding-bottom: 100px;
          .left {
            width: 20%;
            padding-top: 20px;
            border-top: 1px solid #bfd455;
            h2 {
              color: #1e1e1e;
              font-size: 24px;
              font-weight: 400;
            }
          }

          .right {
            width: 80%;
            padding-top: 20px;
            border-top: 1px solid #bfd455;
            p {
              color: #929191;
              font-size: 16px;
              font-weight: 400;
            }
            .right-top {
              margin-bottom: 20px;
            }
          }

          .bottom {
            img {
            }
          }
        }
      }
    }
  }
}

.our-process-wrapper {
  .inner-div {
    padding-top: 100px;
    padding-bottom: 100px;
    h2 {
      text-align: center;
      font-size: 36px;
      margin-bottom: 50px;
      font-weight: 500;
    }
    .process-content {
      display: flex;
      flex-direction: column;
      gap: 100px;
      padding-bottom: 100px;
      .process {
        max-width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
        position: relative;
        max-width: unset;
        width: calc(100% - 375px);
        justify-content: flex-start;
        .left {
          p {
            font-weight: 400;
            font-size: 32px;
            line-height: 1;
            color: #bfd455;
          }
        }
        .right {
          max-width: 300px;
          padding-top: 3px;
          h3 {
            color: #1e1e1e;
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
          }
          p {
            color: grey;
            font-size: 20px;
            font-weight: 300;
            line-height: 1;
            text-align: justify;
          }
          a {
          }
        }
        &:nth-child(odd) {
          align-self: self-start;
        }
        &:nth-child(even) {
          align-self: self-end;
          justify-content: flex-end;
        }
      }
      .process:nth-child(odd)::after {
        border-left: 2px dashed #bfd455;
        border-bottom: 2px dashed #bfd455;
        content: "";
        position: absolute;
        width: 100%;
        height: 100px;
        border-radius: 0 0 0 25px;
        bottom: -120px;
        left: 15px;
      }
      .process:nth-child(even)::before {
        border-right: 2px dashed #bfd455;
        border-bottom: 2px dashed #bfd455;
        content: "";
        position: absolute;
        width: 100%;
        height: 100px;
        border-radius: 0 0 25px 0;
        top: 50%;
        right: 325px;
        transform: translate(0, -30%);
      }
      .process:nth-child(even)::after {
        border-left: 2px dashed #bfd455;
        content: "";
        position: absolute;
        width: 100%;
        height: 100px;
        border-radius: 25px 0 0 0;
        bottom: -94px;
        left: calc(0% - 350px);
        transform: translate(0, 0%);
      }
      .process:last-child::before {
        display: none;
      }
      .process:last-child::after {
        display: none;
      }
    }
  }
}

.second-layout-project {
  .inner-div {
    display: flex;
    flex-direction: column;
    gap: 100px;
    .project-content {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 40px;
      .left {
        width: 40%;
        img {
        }
      }
      .right {
        // width: 30%;
        h3 {
          color: #000;
          font-size: 32px;
          font-weight: 400;
          display: flex;
          align-items: center;
          gap: 20px;
          position: relative;
          line-height: 1;
          span {
            color: grey;
            font-size: 24px;
            line-height: 1.1;
            position: relative;
          }
          span::before {
            content: "";
            width: 6px;
            height: 6px;
            background: grey;
            position: absolute;
            top: 60%;
            transform: translate(0%, -50%);
            border-radius: 50%;
            left: -12px;
          }
        }
      }
      &:nth-child(even) {
        justify-content: flex-end;
      }
    }
  }
}

.project-detail-wrapper {
  .inner-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 100px;
    flex-direction: column;
    .project-title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .project-title {
        font-size: 36px;
        font-weight: 400;
        line-height: 1;
      }
      .extra-detail {
        font-size: 20px;
        color: grey;
        p {
        }
      }
    }

    .main-img-wrapper {
      img {
      }
    }

    .text-content {
      display: flex;
      gap: 50px;
      justify-content: space-between;
      align-items: flex-start;
      .left {
        width: 50%;
        border-bottom: 1px solid grey;
        .row {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          padding: 15px 0;
          border-top: 1px solid grey;
          .leftrow {
            font-size: 14px;
            color: grey;
          }
          .rightrow {
            font-size: 14px;
            color: #333;
            text-transform: uppercase;
            font-weight: 600;
          }
        }
      }

      .right {
        width: 50%;
        .status {
          font-weight: 600;
          font-size: 22px;
          margin-bottom: 20px;
        }
        p {
          font-size: 18px;
          font-weight: 300;
          margin-bottom: 20px;
        }
      }
    }
    .more-images {
    }

    .send-request {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 29px;
      padding: 100px;
      background: lightgray;
      h4 {
        font-size: 32px;
        font-weight: 400;
      }
      a {
        font-size: 18px;
        border: 1px solid #333;
        color: #333;
        padding: 8px 25px;
      }
    }
  }
}

.more-projects {
  .inner-div {
    padding-top: 100px;
    padding-bottom: 100px;
    h3 {
      font-size: 36px;
      text-align: center;
      padding: 30px 0 60px;
      font-weight: 400;
    }
    .projects-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 40px;
    }
    .projects {
      width: 30%;
      h4 {
        font-size: 20px;
        font-weight: 500;
        /* text-decoration: underline; */
        margin-bottom: 10px;
        color: grey;
      }
      ul {
        li {
          list-style: none;
          text-align: left;
          padding: 8px 0;
          border-bottom: 1px solid #dae5a0;
          font-weight: 500;
        }
      }
    }
  }
}

.featured-project-wrapper {
  .inner-div {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    .leftmost {
      border-top: 1px solid #bfd455;
      padding-top: 10px;
      min-width: 300px;
      h2 {
        color: #383838;
        font-size: 24px;
        font-weight: 400;
      }
    }

    .rightmost {
      border-top: 1px solid #bfd455;
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;
    }
    .left {
      position: relative;
      width: 80%;
      img {
      }
      .project-title {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        padding: 20px;
        font-size: 32px;
        font-weight: 400;
      }
    }

    .right {
      width: 20%;

      .top {
        p {
          color: #636262;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          margin-bottom: 75px;
        }
      }

      .bottom {
        img {
        }
        .project-overview {
          color: #636262;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 10px;
        }
        p {
          color: #636262;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
}

.services-wrapper {
  .inner-div {
    display: grid
;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    grid-template-columns: 30% 70%;
    padding-top: 100px;
    padding-bottom: 100px;
    .leftmost {
      height: 100%;
    display: flex
;
border-top: 1px solid #BFD455;
    padding-top: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
      .top {
        h2 {
          font-size: 28px;
    font-weight: 500;
        }
        p {
              font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
        }
        a {
          text-decoration: underline;
        }
      }

      .bottom {
            width: 100%;
        .row {
          display: flex
;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #333;
        color: grey;
          p {
          }
        }
      }
    }

    .rightmost {
      border-top: 1px solid #BFD455;
    padding-top: 20px;
      img {
      }
      p {
        padding: 20px 0 0;
      }
    }
  }
}

// RESPONSIVE
@media (max-width: 560px) {
  header {
    top: 15px;
    .inner-div {
    }
    .left img {
      width: 180px;
    }
    .right {
      .inner-wrapper {
        flex-direction: column;
        position: relative;
        .menu {
          img {
          }
        }
        .menu-options-wrapper {
          flex-direction: column;
          height: auto;
          position: absolute;
          top: 66px;
          right: 0;
          .menu-option a {
            &:hover {
            }
          }
        }
      }
    }
  }

  .hero-carousel {
    .inner-div {
      .content-absolute {
        max-width: 100% !important;
        width: 100%;
        right: 0;
        width: calc(100% - 20px);
        margin: auto;
        left: 50%;
        transform: translate(-50%, 0px);
      }
    }
    .services-hero-menu {
      .services {
        gap: 10px;
        padding: 10px 15px;
        gap: 15px;
        /* max-width: min-content; */
        margin: auto;
        .menu {
          max-width: min-content;

          line-height: 1;
          &:nth-child(2) {
          }
        }
        .menu a {
          font-size: 14px;

          line-height: 1;
          &.active {
          }
          &:hover {
          }
        }
      }
    }
    .hero-content {
      .hero-title {
        font-size: 24px;
        margin-bottom: 0px;
      }
      .hero-para {
        font-size: 16px;
      }
    }
  }

  .welcome-text {
    padding-top: 100px;
    padding-bottom: 50px;
    h2 {
      font-size: 18px;
      line-height: 1.2;
      span {
        font-size: 22px;
        line-height: 1.2;
        font-weight: 600;
      }
    }
  }

  .meet-team-wrapper {
    .inner-div {
      padding-top: 50px;
      padding-bottom: 50px;
      flex-direction: column;
      gap: 20px;
      .left {
        width: 100%;
        gap: 20px;
        border-right: none;
        border-bottom: 2px solid #bfd455;
        padding-right: 0;
        padding-bottom: 20px;
        .top {
          .first {
            font-size: 24px;
          }
          .second {
          }
        }
        .bottom {
          p {
            font-size: 14px;
          }
        }
        .know-more-btn {
          max-width: 160px;
          padding: 12px 20px;
          a {
            font-size: 14px;
          }
        }
      }
      .right {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }

  .visit-us-wrapper {
    .inner-div {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .top {
      gap: 15px;
      .left {
        min-width: fit-content;
        h3 {
        }
      }
      .right {
        .right-top {
          p {
            font-size: 14px;
            line-height: 1.2;
            margin-bottom: 20px;
          }
        }
        .right-bottom {
          gap: 20px;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-direction: column;
          .bottom-left {
            .visit-address {
              gap: 5px;
              margin-top: 20px;
              p {
                font-size: 14px;
              }
              a {
                font-size: 14px;
              }
            }
          }
          .bottom-right img {
            display: none;
          }
        }
      }
    }
  }

  footer {
    .inner-div {
      padding-top: 50px;
    }
    .top {
      flex-direction: column-reverse;
      gap: 20px;
      padding-top: 20px;
      .left {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        .address {
          p {
            display: none;
          }
        }
        .policy-options {
        }
        img {
          display: none;
        }
      }
      .middle {
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 0;
        .newletter {
        }
        .newletter,
        .address-contact {
          p {
            font-size: 16px;
            text-align: center;
          }
        }

        .badges {
          p {
            display: none;
          }
          .img img {
          }
          .img {
          }
        }
        a {
          &:hover {
          }
        }
      }
      .right {
        .social-media {
          a img {
          }
        }
      }
    }
    .bottom {
      flex-direction: column;
      gap: 2px;
      align-items: center;
      padding: 10px 0;
      margin: 10px 0 0;
      p {
      }
      a {
        border: none;
        padding: 0;
        span {
        }
        &:hover {
        }
      }
    }
  }

  // TEAM HERO SECTION
  .team-hero {
    .inner-div {
      padding-bottom: 0px;
      flex-direction: column !important;
      .left {
        width: 100%;
      }
      .left img {
      }
      .right {
        width: 100%;
        .content {
          h2 {
            font-size: 20px;
            line-height: 1.2;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  // OUR PEOPLE SECTION
  .our-people {
    .inner-div {
      padding-top: 50px;
      padding-bottom: 50px;
      gap: 20px;
      align-items: flex-start;
      border: none;
      .left {
        font-size: 16px;
        max-width: fit-content;
        width: 30%;
        border-top: 1px solid #bfd455;
        padding-top: 10px;
      }
      .right {
        border-top: 1px solid #bfd455;
        padding-top: 10px;
        gap: 10px;
        width: 70%;
        p {
          font-size: 14px;
          line-height: 1.2;
          span {
          }
        }
      }
    }
  }

  // TEAM LIST SECTION
  .team-page {
    .inner-div {
      gap: 0px;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .individual-section:first-child {
    }
    .individual-section {
      padding: 50px 10px;

      > p {
        font-size: 24px;
        margin-bottom: 50px;
      }
      .team-wrapper {
        flex-wrap: wrap;
        row-gap: 45px;
      }
      .team-section {
        &:hover {
        }
        &:nth-child(even) .img-outer {
        }
        &:nth-child(odd) .img-outer {
        }
        .img-outer {
          width: 150px;
          height: 150px;
        }
        img {
        }
        h3 {
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }

  // ABOUT HERO
  .about-hero-wrapper {
    .inner-div {
    }
    .content {
      h2 {
        font-size: 32px;
      }
      p {
        font-size: 18px;
        line-height: 1.2;
        margin: 5px 0;
      }
      a {
        font-size: 14px;
        margin-top: 5px;
        &:hover {
        }
      }
    }
  }

  // STUDIO ETHOS
  .studio-ethos {
    .inner-div {
      padding-top: 50px;
      padding-bottom: 50px;
      flex-direction: column;
    }
    h2 {
      font-size: 18px;
      width: 100%;
      padding-bottom: 5px;
    }
    p {
      font-size: 14px;
      width: 100%;
      border-left: none;
      border-top: 2px solid #bfd455;
      padding: 15px 0 15px 0px;
      br {
        display: block;
      }
    }
  }

  // FOUNDER'S NOTE
  .founders-note {
    .inner-div {
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      .left {
        border-right: none;
        border-top: 2px solid #bfd455;
        width: 100%;
        img {
          width: 100%;
          padding-right: 0px;
        }
        h3 {
          font-size: 24px;
        }
        p {
          font-size: 18px;
        }
      }
      .right {
        padding-left: 00px;
        h3 {
          font-size: 20px;
          margin-top: 20px;
        }
        p {
          font-size: 14px;
          margin-bottom: 0px;
        }
      }
    }
  }

  // VISIT SHOWROOM
  .visit-our-showroom {
    .inner-div {
      padding-top: 150px;
      padding-bottom: 50px;
      > img {
        width: 100%;
      }
      .floating-section {
        min-width: 300px;

        .inner-floating {
          padding: 10px;
          img {
          }
          .content {
            padding: 10px;
            gap: 10px;
            h3 {
              font-size: 16px;
            }
            p {
              font-size: 12px;
              line-height: 1.1;
            }
            a {
              font-size: 12px;
              padding: 5px 10px;
              &:hover {
              }
            }
          }
        }
      }
    }
  }

  .category-wrapper {
    .inner-div {
      padding-bottom: 50px;
      .hero-carousel {
      }

      .categories {
        .inner-div {
          .category {
            gap: 20px;
            padding-top: 50px;
            padding-bottom: 0px;
            .left {
              width: 20%;
              padding-top: 10px;
              border-top: 1px solid #bfd455;
              h2 {
                font-size: 18px;
              }
            }

            .right {
              width: 80%;
              padding-top: 10px;
              p {
                font-size: 14px;
                line-height: 1.2;
              }
              .right-top {
                margin-bottom: 20px;
              }
            }

            .bottom {
              img {
              }
            }
          }
        }
      }
    }
  }

  .our-process-wrapper {
    .inner-div {
      h2 {
        font-size: 24px;
        margin-bottom: 30px;
      }
      .process-content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        .process {
          max-width: 300px;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          gap: 10px;
          position: relative;
          max-width: unset;
          width: calc(100% - 0px);
          justify-content: flex-start;
          .left {
            p {
              font-size: 18px;
              line-height: 1.2;
            }
          }
          .right {
            max-width: 180px;
            padding-top: 0px;
            h3 {
              font-size: 18px;
            }
            p {
              font-size: 14px;
              line-height: 1.2;
              text-align: justify;
            }
            a {
            }
          }
          &:nth-child(odd) {
            align-self: self-start;
          }
          &:nth-child(even) {
            align-self: self-end;
            justify-content: flex-end;
          }
        }
        .process:nth-child(odd)::after {
          border-left: 2px dashed black;
          border-bottom: 2px dashed black;
          content: "";
          position: absolute;
          width: calc(100% - 225px);
          height: 60px;
          border-radius: 0 0 0 25px;
          bottom: -63px;
          left: 0px;
        }
        .process:nth-child(even)::before {
          border-right: 2px dashed black;
          border-bottom: 2px dashed black;
          content: "";
          position: absolute;
          width: calc(100% - 235px);
          height: 100px;
          border-radius: 0 0 25px 0;
          top: 50%;
          right: 200px;
          transform: translate(0, -40%);
        }
        .process:nth-child(even)::after {
          border-left: 2px dashed black;
          content: "";
          position: absolute;
          width: 100%;
          height: 50px;
          border-radius: 25px 0 0 0;
          bottom: -40px;
          left: calc(0% + 10px);
          transform: translate(0, 0%);
        }
      }
    }
  }

  .second-layout-project {
    .inner-div {
      gap: 35px;
      .project-content {
        flex-direction: column;
        gap: 5px;
        .left {
          img {
          }
        }
        .right {
          // width: 30%;
          h3 {
            font-size: 16px;
            span {
              font-size: 12px;
            }
            span::before {
              width: 4px;
              height: 4px;
            }
          }
        }
        &:nth-child(even) {
          align-items: flex-end;
        }
      }
    }
  }

  .project-detail-wrapper {
    .inner-div {
      gap: 40px;
      .project-title-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        .project-title {
          font-size: 28px;
        }
        .extra-detail {
          font-size: 16px;
          p {
            line-height: 1;
          }
        }
      }

      .main-img-wrapper {
        img {
        }
      }

      .text-content {
        flex-direction: column;
        gap: 25px;
        .left {
          width: 100%;
          .row {
            padding: 6px 0;
            .leftrow {
              font-size: 16px;
            }
            .rightrow {
              font-size: 16px;
            }
          }
        }

        .right {
          width: 100%;
          .status {
            font-size: 18px;
            margin-bottom: 10px;
          }
          p {
            font-size: 15px;
            margin-bottom: 10px;
            line-height: 1.2;
          }
        }
      }
      .more-images {
      }

      .send-request {
        gap: 15px;
        padding: 30px;
        h4 {
          text-align: center;
          font-size: 28px;
        }
        a {
        }
      }
    }
  }

  .more-projects {
    .inner-div {
      padding-top: 50px;
      padding-bottom: 50px;
      h3 {
        font-size: 24px;
        text-align: center;
        padding: 30px 0;
        font-weight: 700;
      }
      .projects-wrapper {
        flex-direction: column;
        gap: 30px;
      }
      .projects {
        width: 100%;
        h4 {
          font-size: 18px;
        }
        ul {
          li {
            padding: 6px 0;
          }
        }
      }
    }
  }

  .featured-project-wrapper {
    .inner-div {
      padding-top: 50px;
      padding-bottom: 50px;
      gap: 10px;
      flex-direction: column;
      .leftmost {
        border-top: 1px solid #bfd455;
        padding-top: 10px;
        min-width: unset;
        width: 100%;
        h2 {
          font-size: 20px;
        }
      }

      .rightmost {
        border-top: 1px solid #bfd455;
        padding-top: 15px;
        gap: 10px;
        flex-direction: column;
      }
      .left {
        width: 100%;
        img {
        }
        .project-title {
          padding: 20px;
          font-size: 24px;
        }
      }

      .right {
        width: 100%;

        .top {
          p {
            font-size: 13px;
            margin-bottom: 35px;
          }
        }

        .bottom {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          gap: 10px;
          max-width: 180px;
          img {
          }
          .project-overview {
            font-size: 15px;
            margin-bottom: 18px;
          }
          p {
            font-size: 13px;
            line-height: 16px;
          }
          div {
            width: calc(100% - 180px);
            min-width: fit-content;
          }
        }
      }
    }
  }

  .services-wrapper {
  .inner-div {
    display: flex
;
padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    gap: 20px;
    .leftmost {
      border-top: 1px solid #BFD455;
    padding-top: 10px;
      .top {
        h2 {
          font-size: 24px;
        }
        p {
              font-size: 13px;
    margin-bottom: 5px;
        }
        a {
              font-size: 12px;
        }
      }

      .bottom {
        margin-top: 20px;
        .row {
          padding: 5px 0;
          p {
                font-size: 12px;
          }
        }
      }
    }

    .rightmost {
      border: none;
      img {
      }
      p {
        font-size: 13px;
      }
    }
  }
}
}
